apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ include \"interop-infrastructure.fullname\" . }}-admin-web"
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: admin-web
  template:
    metadata:
      labels:
        app: admin-web
    spec:
      containers:
        - name: admin-web
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 3000
          resources: {{ toYaml .Values.resources | indent 12 }}
